/* ========================================== 
    Post Archive
*/

.posts {
  position: relative;
}

#posts-rss {
  display: block;
  float: right;
  text-decoration: none;
}

.post-archive ul.archive {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
}
.post-archive h4.year,
.post-archive h5.month {
  display: block;
  position: relative;
  font-size: 17px;
  font-weight: normal;
  margin: 0;
}
.post-archive h4.year {
  border: 0;
  background-color: #00ADEE;
}
.post-archive h4.year a {
  display: block;
  color: #fff;
  padding: 3px 5px;
}
.post-archive h4.year a:link,
.post-archive h4.year a:active {
  color: #fff;
}
.post-archive h4.year a:hover {
  background-color: #00B4F5;
  color: #fff !important;
}
.post-archive h5.month {
  font-size: 15px;
  border-bottom: 1px solid #eee;
}
.post-archive h5.month {
  margin-top: 5px;
  border-top: 1px solid #eee;
}
.post-archive ul.archive li span.day {
  display: block;
  float: left;
  width: 5%;
  padding-right: 5%;
  text-align: right;
}

.post-archive ul.archive li ul.posts {
  list-style-type: none;
  display: block;
  float: left;
  width: 90%;
  margin: 0;
  padding: 0;
}
.post-archive ul.archive li ul.posts li {
  margin: 0 0 0.5em 0; 
}


/* ========================================== 
    Post Preview
*/

.post-preview {
  clear: both;
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd;
}
.post-preview h2 {
  margin-bottom: 0;
}
.post-comments {
  clear: both;
}