<p>
  <%= form.label :name, t("activerecord.attributes.post_category.name") %>:<br/>
  <%= form.text_field :name, :class => 'text' %>
</p>
<p>
  <%= form.label :permalink, t("activerecord.attributes.post_category.permalink") %>:<br/>
  <%= form.text_field :permalink, :class => 'text' %>
</p>
