<div class="posts">
  <%= render :partial => 'blog/shared/preview', :collection => @posts, :as => :post %>

  <br class="clear"/>

  <%= paginate @posts %>

</div>  

<% content_for :sidebar do %>
  <%= render :partial => 'blog/shared/sidebar' %>
<% end %>
